# ================= DATA =================
DIV2K_train_HR/
blind-watermarking-project/watermark_project/DIV2K_train_HR/

# ================= MODELS / WEIGHTS =================
weights/
checkpoints/
*.pth

# ================= PYTHON =================
__pycache__/
*.pyc

# ================= ENV =================
venv/

# ================= SYSTEM FILES =================
.DS_Store